.dark-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  animation: 3ms;
}


.modal-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-section-1{
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: space-between;
}

.modal-section-1 div:nth-child(1){
  padding: 5% 7% 0% 8%;
}
.modal-section-1 div:nth-child(2){
  padding: 1% 7% 0% 0%;
}

.modal-section-2{
  display: flex;
  justify-content: right;
  height: 50%;
}

.modal-section-2 div:nth-child(1){
  padding: 1% 7% 0% 0%;
}